@model Pada.Models.PendingPhotoRequest

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PendingPhotoRequest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldPhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewPhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcceptedVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcceptedVote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedVote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoteRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoteRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullPhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacePhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacePhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnyPhotoPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnyPhotoPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PendingVote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PendingVote)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TransactionId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
