@model IEnumerable<Pada.Models.PendingPhotoRequest>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Email)
            </th>*@
            <th>
                <center>Image</center>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    if (item.Email == ViewBag.CurrentUserEmail)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>*@
            <td>
                <center><img src=@item.ImageName alt="alternatetext" style="width:256px;height:256px;"></center>
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>
</body>
</html>

